**/*~HEAD
**/.DS_Store
*.swf
*.swp
*.xml
.actionScriptProperties
.bundle
.DS_Store
.flexProperties
.idea
.metadata
.project
.redcar
.settings
.flexLibProperties
.project
bin-debug
html-template
ready
libs/*.html
libs/*.swf
libs/*.swz
log/*.log
tags
tmp/*
tmp/**/*
vendor
